@model WebCompanyAlpha.Models.HomeTest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proba</title>
</head>
<body>
    <div> <h1>@Model.Text</h1>
    </div>
</body>
</html>
