@model WebCompanyAlpha.Models.OrderRoomModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Эти брони будут больше не </h2>

@foreach (WebCompanyAlpha.Models.OrderRoomModel rec in Model.ReservationApprovedList)
{
    <p> @rec.RoomCur </p>
}

@if (Model.Error?.Length > 0)
{
    <p class="text-warning">@Model.Error</p>
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ReservationApprovedList)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}