@model WebCompanyAlpha.Models.Account.UserModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Title</h4>
        <hr />
        <div class="form-group col-md-offset-2 col-md-10">
            <input type="submit" value="Подтвердить" class="btn btn-success" />
            @Html.ActionLink("Назад", "ListUser");
        </div>
    </div>
}
